body {
    margin: 0;
    padding: 0;
}

table {
    padding: 5px;
}

pre {
    font-family: monospace;
    font-size: 10px;
}

.header {
    color: rgb(51, 51, 51);
    display: inline;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 18px;
    height: auto;
    text-align: left;
    width: auto;
    word-wrap: break-word;
}

.description {
    display: block;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    text-align: left;
}