body {
    margin: 0;
    padding: 0;
}

table {
    padding: 5px;
}

pre {
    font-family: monospace;
    font-size: 10px;
}

.header {
    color: rgb(200, 200, 200);
    display: inline;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 18px;
    height: auto;
    text-align: left;
    width: auto;
    word-wrap: break-word;
}

.description {
    display: block;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    text-align: left;
}

.commentlist {
    color: rgb(69, 73, 74);
    display: block;
    font-family: 'trebuchet ms', verdana, tahoma, arial, sans-serif;
    font-size: 12px;
    list-style-type: decimal;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: justify;
}

.commentmetadata, p, small {
    display: block;
    float: right;
    font-family: 'Lucida Grande', 'trebuchet ms', verdana, tahoma, arial, sans-serif;
    font-size: 12px;
    padding: 10px;

    list-style: none outside none;
}

.commentsDivider {
    background-color: #747474;
    height: 1px;
    width: 100%;
}

.alt1 {
    background-color: rgb(79, 82, 84);
    color: rgb(119, 119, 119);
    display: list-item;
    font-family: 'trebuchet ms', verdana, tahoma, arial, sans-serif;
    font-size: 12px;
    list-style: none outside none;
    margin: 15px 0px 3px;
    padding: 5px 10px 3px;
    text-align: justify;
}

.alt2 {
    background-color: rgb(69, 73, 74);
    color: rgb(119, 119, 119);
    display: list-item;
    font-family: 'trebuchet ms', verdana, tahoma, arial, sans-serif;
    font-size: 12px;
    list-style: none outside none;
    margin: 15px 0px 3px;
    padding: 5px 10px 3px;
    text-align: justify;
}